#timeLogTable table{
width: 100%;
}
#timeLogTable table th{
    width: 33%;
}
#timeLogTable table td {
    width: 33%;
    border: solid red 3px;
    background-color: deeppink;
}
#timeLogTable tbody{
    width: 100%;
}
.tblTimeLogContainer{
    background-color: green;
    border: dotted blue 10px;
}