#timeLogTable {
    background-color: #3d4966;
    color: black;
}
#timeLogTable table{
    display: block;
    width: 100%;
}
#timeLogTable table th{
    width:33%;
}
#timeLogTable table td:nth-child(1){
    background-color: seagreen;
}
#timeLogTable table td:nth-child(2){
    background-color: seagreen;
}
#timeLogTable table td:nth-child(2):hover{
    background-color: seagreen;
}
#timeLogTable table td:nth-child(3){
    background-color: seagreen;
}