<section id="timeLogTable">
    <button id="btnAddTimeLog" type="button">ADD NEW LOG</button>
    <table id="tblTimeLog">
        <thead>
            <tr>
                <th>Date/Time In</th><th>Work Performed</th><th>Date/Time Out</th>
            </tr>
        </thead>
        <tr id="trTimeLogEdit" class="hide">
            <td><input id="timeLogTimeIn" type="datetime-local"></td>
            <td><input id="timeLogWorkPerformed" placeholder="Work Performed" type="text"></td>
            <td><input id="timeLogTimeOut" type="datetime-local"></td>
            <td><button id="btnTimeLogEditSave">SAVE</button>
                <button id="btnTimeLogEditCancel" type="button">CANCEL</button></td>
        </tr>
        <tbody id="tblTimeLogBody"></tbody>
    </table>
</section>